body {
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    font-weight: bold;

}

.header {
margin: ;

}

.tagline {
    color: #938e89;
    text-align: left
    line-height: ;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
}